@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root {
    --font-family: 'Inter';

    --color-black: #000;
    --color-white: #FFF;
    --color-gray: #808080;

    --border-width: 0 0 1px 0;
    --border-style: solid;
    --border-color: var(--color-black);
    --border-radius: 55px;

    --border: var(--border-width) var(--border-style) var(--border-color);

    --container-width: 1800px;
}

body {
    font-family: var(--font-family), sans-serif;
    font-weight: 500;
    color: var(--color-black);
    background-color: var(--color-white);
}

.container {
    max-width: var(--container-width);
    margin-inline: auto;
}

h1, h2, h3, h4, h5, h6,
.header {
    text-transform: uppercase;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    padding-inline: 95px;
}

.header-menu-list {
    display: flex;
    column-gap: 35px;
    list-style: none;
}

.link {
    color: var(--color-black);
    text-decoration: none;
}

.is-current {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
}

.header-info {
    display: flex;
    align-items: center;
    column-gap: 7px;
}